@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "iranYekan";
  src: url("../app/fonts/iranyekanwebregular.woff");
}
@font-face {
  font-family: "iranSans";
  src: url("../app/fonts/IRANSans/IRANSans_Medium.ttf");
}